/* Custom */

/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  animation: spin 2s infinite linear;
}

/* Animated rotating icon */
.icon-wiggle {
  display: inline-block;
  animation: wiggle 2.2s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-wiggle,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

/* Fix border of focused buttons */
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

/* Disable click events on disabled buttons */
.disabled {
  pointer-events: none;
}

/* Box for bank data */
.box {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1.5px 9px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 1.5px 9px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1.5px 9px 0 rgb(0 0 0 / 20%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.box p {
  max-width: none;
}